@media screen and (min-width: 391px){
  .toolbar{
    width: 100%;
    height: 100px;
    background-color: rgb(30, 30, 30);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .logo{
    width: 80px;
    height: 80px;
  }
  .logo-input{
    display: flex;
    flex-direction: row;
    align-items: center;
    width:280px;
    height: 80px;
    margin-left: 20px;
  }
  .toolbar-input{
    width: 200px;
    height: 30px;
    background-color: rgb(86, 86, 86);
    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius:20px ;
  }
  .date{
    width: 200px;
    height: 20px;
    color: white;
    font-size: 20px;
    margin-right: 50px;
  }
  .all{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 750px;
    font-family: Snell Roundhand, cursive;
  }
  .block{
    width: 20%;
    height: 100%;
    position: relative;
    color: white;
    text-align: center;
    overflow: hidden;
  }
  .text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
  }
  .block-all{
      margin-left: -600px;  
      margin-top: -375px;
      transform: scale(0.5);
  }
  .block-give{
    margin-left: -600px;
    margin-top: -375px;
    transform: scale(0.5);
  }
  .block-hey{
    margin-top: -327px;
    transform: scale(0.6);
    margin-left: -560px;
  }
  .block-let{
    margin-top: -375px ;
    margin-left: -600px;
    transform: scale(0.5);
  }
  .block-you{
    margin-left: -600px;
    transform: scale(0.5);
    margin-top: -375px;
  }
}
@media screen and (max-width: 391px){
  .toolbar{
    width: 100%;
    height: 100px;
    background-color: rgb(30, 30, 30);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .logo{
    width: 80px;
    height: 80px;
  }
  .logo-input{
    display: flex;
    flex-direction: row;
    align-items: center;
    width:280px;
    height: 80px;
    margin-left: 10%;
  }
  .toolbar-input{
    width: 200px;
    height: 30px;
    background-color: rgb(86, 86, 86);
    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius:20px ;
  }
  .date{
    width: 200px;
    height: 20px;
    color: white;
    font-size: 20px;
    margin-right: 50px;
    display: none;
  }
  .all{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 844px;
    font-family: Snell Roundhand, cursive;
  }
  .block{
    width: 100%;
    height: 20%;
    position: relative;
    color: white;
    text-align: center;
    overflow: hidden;
  }
  .text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
  }
 .block-hey{
    margin-top: -670px;
    transform: scale(0.3);
    margin-left: -560px;
  }
  .block-let{
    margin-top: -660px ;
    margin-left: -555px;
    transform: scale(0.26);
  }
  .block-give{
    margin-left: -555px;
    margin-top: -660px;
    transform: scale(0.31);
  }
  .block-all{
      margin-left: -565px;  
      margin-top: -660px;
      transform: scale(0.3);
  }  
  .block-you{
    margin-left: -570px;
    transform: scale(0.3);
    margin-top: -680px;
  }
  
}
